{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>

<div class="row">
    <div class="col">
    <div class="col-md">
        <div class="card card-body">
            <h5>Products</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Picture</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                    
                </tr>

                {% for product in products %}
                <tr style="vertical-align: middle;">
                    <td style="vertical-align: middle;"><img src="{{product.product_pic.url}}"></td>
                    <td style="vertical-align: middle;">{{product.name}}</td>
                    <td style="vertical-align: middle;">{{product.category}}</td>
                    <td style="vertical-align: middle;">{{product.price}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
</div>

{% endblock %}